body{
position : relative;
    background-color: #000000;
    
}
.tb{ width: 100%;
    height: 100%;
    text-shadow: 3px,2px,1px;
    text-decoration-style:double;
    border-color: #aaeeff ;
    border-radius: 2px;
    background-size: contain;
    background-origin: padding-box;
    backface-visibility: visible;
    right:relative;
    left:relative;
    background-color: #dafaea;
    color:#000000;
    padding: 5px 10px;
    opacity:0.8;
    font-family:sans-serif;
    font-weight:500;
    display: inline-block;
    position:relative;
    
}
.tb:hover{
    background-color: #ffffff;
    color:#ee00ee;
     padding: 5px 10px;

}
header{
font-size:relative;
    font-family: cursive;
    font font-weight: 300;
    background-color: #dafaea;
    padding: 6px;
    padding-bottom: 2px;
    text-shadow: 3px,2px;
    text-decoration:none;
    word-spacing: 4px;
    color:#eeedcb;
    display: block;
   
    
}

img{
    display: inline-block;
    overflow: scroll;
    border-color: #aaeeff;
    border: 2px,3px;
    border-style: groove;
    border border-radius: 4px;
}
img:hover{
      display: inline-block;
    overflow: scroll;
    border-color: #ee00ee;
    border: 2px,3px;
    border-style: groove;
    border border-radius: 4px;
    
}
ul{
    background-color: #aaaaaa;
    color:#000000;
    word-spacing: 4px;
    letter-spacing: 1px;
    display: block;
    padding: 6px;
    margin:0.2% 0.4%;
    
}
button{
    padding: 1px 4px;
    border-style:groove;
    border-radius: 6px;
    border color: #f2d3a1;
     padding: 4px;
    border-style:groove;
    border-radius: 6px;
    border color: #f2d3a1;
        margin:0.1% 0.7%;

}
button:hover{
    background-color: #ffffff;
    color:#ee00ee;
     padding: 4px;
    border-style:groove;
    border-radius: 6px;
    border color: #f2d3a1;
        border: 5px;
    margin:0.4% 0.7%;
    position: relative;   
}
li:hover{
    color:#ee00ee;
     background-color: #aaaaaa;
    word-spacing: 4px;
    letter-spacing: 1px;
    display: block;
    padding: 3px;
      margin:0.1% 0.7%;
}
