body{
    background-color:#d3d3d3;
    background-color: #f2d3a1;
}
p{
    background-color: #9090EE;
    /*overflow: */
    display:table-cell;
 /*overflow: scroll;*/
 

}
img{
    float:left;
    border-style: groove;
    border-radius: 10px;
    border-spacing: 99px;
     border-color:#ffffff;
    border-collapse: collapse;
      display:table-cell;
      
}
img:hover{
     float:left;
    border-style: groove;
    border-radius: 10px;
    border-spacing: 99px;
     border-color: #ee00ee;
    border-collapse: collapse;
      display:table-cell;    
}
img2{
    display:table-row;
    overflow: scroll;
      border-style: groove;
    border-radius: 10px;
    border-spacing: 99px;
     border-color: aqua;
    border-collapse: collapse;
      
}
